.btn-wrapper {
    margin-top: 25px;
}

.btn {  
    cursor: pointer;
    width: 100%;
    border-radius: var(--default-border-radius);
    font-size: 14px;
    font-weight: 700;
    background-color: var(--clr-primary-500);
    color: var(--clr-white);
    padding: 18px;
    margin-bottom: 30px;
}