.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;   
}

@media (min-width: 501px) {
    .App {
        height: 100vh;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        
        
    }        
}